# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock
.env
.DS_Store
*.log
coverage/
dist/
build/
.tmp/
.cache/
.idea/
.vscode/
*.tgz

# OS
Thumbs.db
.DS_Store

# Optional npm cache directory
.npm
.npm-cache

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history
flow-watch-kubeconfig.yaml 